.pane-sm {
    max-width: 230px;
    min-width: 200px;
}

.v-container {
    background-color: #e9e9e9;
    text-align: center;
    font-family: cursive;
}

.list-group-item:hover {
    background-color: rgba(0, 0, 0, 0.075);
    transition: 0.3s;
}

.tab-item:active {
    background-color: rgba(0, 0, 0, 0.103);
}

.title {
    font-family: cursive;
}

.editor {
    margin: 0;
    overflow: auto;
    outline: none;
    resize: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.007);
    padding: 8px 8px 8px 8px;
    width: 100%;
    height: 100%;
}

.editor::selection {
    background-color: rgba(0, 0, 0, 0.164);
}

.default {
    background-color: rgba(0, 0, 0, 0.103);
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.background-image {
    background-image: url('../graphics/Note.png');
    background-position: center;
    background-repeat: no-repeat;
}

.pane {
    display: flex;
    flex-direction: column;
}

.window .window-content body {
    overflow: hidden;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
    display: none;
}